.navbar {
    background-color: transparent;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    position: fixed;
    z-index: 1050;
}

.navbar_bg {
    background-color: #222;
}

.navbar img {
    height: 35px;
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    margin-right: 16px;
    color: #eee;
    cursor: pointer;
}

.navbar li:hover {
    color: #fb3;
}