.header {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #010204;
    padding-top: 70px;
    color: #eee;
    flex-direction: row;
    background-image: url(../../img/pianista.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
}
.header p {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 14pt;
    position: relative;
    z-index: 2;
}
.header img {
    height: 115px;
    position: relative;
    z-index: 2;
}
.vacuo {
    width: 200px;
    height: 200px;
}

.cloud {
    background-image: url(../../img/clouds.png);
    background-attachment: fixed;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: rotationLeft 80s linear infinite;
    z-index: 1;
    top: -19px;
}

@keyframes rotationLeft {
    0% {
        background-position-x: -1400px;
    }
    
    100% {
        background-position-x: -145px;
    }
}
